colors {
  --pink-lavender: rgba(205, 180, 219, 1);
  --orchid-pink: rgba(255, 200, 221, 1);
  --nadeshiko-pink: rgba(255, 175, 204, 1);
  --uranian-blue: rgba(189, 224, 254, 1);
  --baby-blue-eyes: rgba(162, 210, 255, 1);
}
