/* App.css */
.fade-enter {
  opacity: 0;
  transform: translateY(10px); /* Изменение позиции при входе */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0); /* Конечное положение */
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out; /* Плавность анимации */
}

.fade-exit {
  opacity: 1;
  transform: translateY(0); /* Начальное состояние при выходе */
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px); /* Конечное положение */
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
