
select {
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    border: none;
    border-radius: 0;
    /* pointer-events: none; */
    box-shadow: none;
    border-radius: 0;
}


select:focus {
  outline: -webkit-focus-ring-color auto thin;
}

html,
body {
  margin: 0;
  font-family: "Montserrat Alternates", "Montserrat";
  min-height: 100vh;
  height: 100%;
  font-style: normal;
  font-weight: 500;
  --webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  @media screen and (min-width: 767px) {
    font-size: 15px;
  }
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238, 0.8);
}

main {
  flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.grecaptcha-badge { visibility: hidden; }

p {
  font-family: "Montserrat";
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
